# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Model files
*.pth
*.pkl
*.h5
*.pt

# IDE
.vscode/
../../../../Documents/Mtech/MLOps/mlops_major_assignment2/mlops_major_assignment/.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Flask
instance/
.webassets-cache

# Environment
.env
.env.local

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Docker
.dockerignore
